@import url('./bootstrap.theme.css');

#orgm_navbar .navbar-brand {
	padding: 0 20px;
	line-height: 50px;
	font-size: 16px;
	font-weight: normal;
	box-sizing: border-box;
}
 
#orgm_navbar .navbar-brand.logo-image {
	padding: 0 20px;
	border-style: none;
	margin: 0;
	line-height: 50px;
	height: 50px;
	box-sizing: border-box;
}

#orgm_navbar .navbar-brand.logo-image img {
	max-height: 50px;
	max-width: none;
}

#orgm_nav{
	margin-left: auto;
	margin-right: auto;
}

#orgm_nav > ul > li > a {
	text-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 
	box-sizing: border-box;
	line-height: 50px;
	z-index: auto;
}

#orgm_nav > ul > li.active a {
	font-weight: normal;
}

#orgm_navbar {
	overflow: visible;
}

#orgm_navbar > ul {
	position: relative;
}
#orgm_navbar .navbar-collapse {
	overflow: visible;
}

#orgm_navbar .dropdown-menu > li > a:hover, 
#orgm_navbar .dropdown-menu > li > a:focus,
#orgm_navbar .dropdown-submenu:hover > a,
#orgm_navbar .dropdown-submenu:focus > a {
	text-decoration: none;
	color: #606060;
	background-color: #e5e5e5;
}

#orgm_navbar .dropdown-menu:after {
	border-bottom: 6px solid #f1f1f1;
}

#orgm_nav .share_buttons ul.nav > li > a {
	margin-top: 14px;
}


#contents {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	position: relative;
	top: 20px;
	z-index: 100;
	width: 100%;
	padding: 20px 0;
	background: #f1f1f1;
	box-sizing: border-box;
}

/* Main marketing message and sign up button */


/* Supporting marketing content */

.marketing {
}

.marketing p {
	margin-top: 1.5em;	
	margin-bottom: 1.5em;	
}

.footer {
	padding-bottom: 30px;
}

#license {
	margin-top: 30px;
	text-align: center;	
}

.btn-theme {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
	background-repeat: repeat-x;
	border-color: #e0e0e0;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

@media(max-width:979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}
}

@media(max-width:767px) {
	#logo {
		float: left;
	}
	#contents {
		width: 100%;
	}
	
	#orgm_navbar .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	
	#orgm_navbar .dropdown-menu > li > a:hover, 
	#orgm_navbar .dropdown-menu > li > a:focus,
	#orgm_navbar .dropdown-menu > li.active > a,
	#orgm_navbar .dropdown-submenu:hover > a,
	#orgm_navbar .dropdown-submenu:focus > a {
		background-color: #222;
		background-image: none;
		color: #fff;
	}

	#orgm_eyecatch .haik-section{
		height: 200px !important;
	}
	#orgm_eyecatch .carousel .item {
		max-height: 200px !important;
		min-height: 200px !important;
	}
	#orgm_eyecatch .carousel .item img {
		min-height: 200px !important;
	}
	#orgm_eyecatch .carousel .carousel-caption h1 {
		font-size: 28px;
	}
	#orgm_eyecatch .carousel .carousel-caption .lead {
		font-size: 16px;
	}

	.footer {
		width: auto;
	}
}
